DATABASE_URL=postgresql://username:password@db:5432/Databasename
POSTGRES_PASSWORD= your-postgres-password
SECRET_KEY=your-secret-key
#ده مفتاح سري بيستخدم في توليد الـ Token وتوقيعه...puting any 32 num.
GEMINI_API_KEY= your-api-key